body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  color: #5681ab;
}

.error {
  color: red;
}

.hienThi {
  color: #df7e5f;
}

.info {
  color: #859dff;
  font-weight: bold;
}

.phepTinh {
  color: brown;
  font-weight: bold;
}
