form {
  background-color: #292826;
  border: 5px solid #ffc107;
  width: 500px;
  height: 200px;
  padding: 5px;
}

caption {
  background-color: #1d1b1c;
  color: #ec4d37;
  font-size: 1.5rem;
  text-align: center;
}

.error {
  color: red;
}

.donVi {
  color: #f9d342;
}

.info {
  color: #fbfbfb;
}
